    * {
        box-sizing: border-box;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    
    html {
        width: 100%;
    }
    
    header {
        background-color: rgb(33, 31, 32);
        color: #ffffff;
        padding: 10px;
        display: flex;
        height: auto;
        z-index: 100;
        width: 100%;
    }
    
    body {
        display: block;
        margin: 0;
        font-family: 'Segoe UI';
        background-color: white;
    }
    
    .sticky {
        position: fixed;
        top: 0;
    }
    
    header a {
        text-decoration: none;
        color: white;
    }
    
    .menu-icon {
        font-size: 50px;
        color: white;
    }
    /* the side navigation menu*/
    
    .sidenav {
        height: 700px;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        color: rgb(245, 239, 239);
        background-color: rgb(41, 40, 40);
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    /* the navigation menu links*/
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        margin-block-start: 20px;
        text-decoration: none;
        font-size: 25px;
        color: rgb(153, 154, 156);
        display: block;
        transition: 0.5s;
        text-align: left;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    /* Set the size of the div element that contains the map */
    
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
    /* position and style the close button */
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    .omes-logo {
        margin: auto;
    }
    /* Slideshow container */
    
    .slideshow-container {
        position: relative;
        margin: auto;
        width: 100%;
        height: 100%;
        background-position: center;
        text-align: center;
    }
    /* Hide the images by default */
    
    .mySlides {
        display: none;
    }
    /* Fading animation */
    
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 10s;
        animation-name: fade;
        animation-duration: 10s;
    }
    
    @-webkit-keyframes fade {
        from {
            opacity: .7
        }
        to {
            opacity: 1
        }
    }
    
    @keyframes fade {
        from {
            opacity: .7
        }
        to {
            opacity: 1
        }
    }
    
    .text-center {
        text-align: center;
    }
    
    .accent-text1 h2 {
        color: yellowgreen;
        font-size: 2em;
    }
    
    .omes-drive figcaption,
    .accent-text1 h3 {
        font-size: 2em;
    }
    
    .omes-drive-div {
        margin: auto;
        width: 200px;
    }
    
    .accent-text2 {
        height: auto;
        font-size: larger;
    }
    
    .company-info-textbox {
        height: auto;
        margin: 5px;
    }
    
    .services-textbox {
        margin: auto;
        height: auto;
        text-align: left;
    }
    
    .services-textbox ul {
        padding-inline-start: 20px;
    }
    
    .services-textbox h4 {
        margin: 2px;
    }
    
    .accent-text8 {
        background-color: rgb(33, 31, 32);
        color: white;
        padding: 3%;
    }
    
    .connect-btn a {
        text-decoration: none;
        color: white;
        border-radius: 5px;
        padding: 1%;
        background-color: yellowgreen;
        margin: 10px;
        font-size: larger;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.185);
    }
    
    .connect-btn a:hover {
        background-color: rgb(33, 31, 32);
        transition: ease .5s;
    }
    
    .omes-values {
        color: rgb(247, 243, 243);
        margin-top: -40px;
        padding-left: 500px;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0.6;
        word-spacing: 20px;
        letter-spacing: 5px;
    }
    
    .omes-history h5 {
        font-size: 20px;
    }
    
    .history p {
        margin-top: -1em;
    }
    
    .accent-text5 {
        background-color: rgb(33, 31, 32);
    }
    
    .accent-text5 img {
        width: 99px;
        height: 99px;
        margin: 50px;
        margin-top: 10px;
    }
    
    .accent-text5 figcaption {
        color: white;
        margin-top: -20px;
    }
    
    .accent-text6 {
        font-size: larger;
    }
    
    .guarantee {
        text-align: left;
        width: fit-content;
        margin: auto;
        padding: 5px;
    }
    
    .done {
        color: white;
        font-size: x-large;
    }
    
    .checked {
        color: yellowgreen;
        font-size: x-large;
    }
    
    .km-margin {
        margin: auto;
    }
    
    .km-btn {
        padding: 20px;
    }
    
    .omes-warning-div {
        display: block;
        margin: auto;
        text-align: center;
        width: 200px;
        font-size: larger;
    }
    
    .omes-warning-div img {
        width: 128px;
    }
    
    .omes-warning-div a {
        cursor: auto;
    }
    
    .omes-warning-div a:hover {
        filter: invert(79%) sepia() saturate(1000%) hue-rotate(-300deg);
    }
    
    .socialmed-icons a:hover {
        filter: invert() sepia() saturate(1000%) hue-rotate(-300deg);
    }
    
    .accent-text8 {
        background-color: rgb(33, 31, 32);
        color: white;
        padding: 3%;
    }
    
    .accent-text8-btn a {
        text-decoration: none;
        color: white;
        border-radius: 5px;
        background-color: yellowgreen;
        padding: 1%;
        margin: 10px;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.185);
        font-size: larger;
    }
    
    .accent-text8-btn a:hover {
        background-color: rgb(33, 31, 32);
        transition: ease .5s;
    }
    
    .done-accent-text8 {
        color: white;
        font-size: x-large;
    }
    
    .colored-ln {
        height: 9px;
        background-color: rgb(100, 189, 114);
    }
    
    .accent-text9 {
        background-image: url(MVIMG_20200115_125407.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-size: larger;
        margin-top: -30px;
    }
    
    .text9box-dimmer {
        background-color: rgba(8, 8, 8, 0.377);
    }
    
    .accent-text10 h2 {
        margin: auto;
    }
    
    .career-bx h3 {
        margin-top: -20px;
    }
    
    footer {
        padding-top: 3%;
    }
    
    .top-link {
        transition: all .25s ease-in-out;
        position: fixed;
        bottom: 0;
        right: 0;
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin: 0 3em 3em 0;
        border-radius: 50%;
        padding: .25em;
        width: 80px;
        height: 80px;
        background-color: rgb(33, 31, 32);
    }
    
    .show {
        visibility: visible;
        opacity: 1;
    }
    
    .hide {
        visibility: hidden;
        opacity: 0;
    }
    
    .top-link:hover {
        background-color: white;
    }